@using EgeBilgiTaskCase.Client.Models.Management;
@using EgeBilgiTaskCase.Client.HelperServices;
@model DbParameter_Index_ViewModel
@inject AAAService _AAAService

<!DOCTYPE html>
<div class="page-body">
    <div class="left-header col horizontal-wrapper ps-0 d-flex align-items-center mb-2">
        <div class="left-menu-header">
            <h2>@Model.SubPageTitle</h2>
        </div>
        <div class="ms-auto">
            <a class="btn btn-primary" href="/Character/AddNew">Yeni Karakter Ekle</a>
        </div>
    </div>
    <form asp-controller="DbParameter" asp-action="Index" method="get">

        <div class="container-fluid basic_table">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="row mb-3">
                            <div class="mt-3 col-sm-4">
                                <input asp-for="SearchText" class="form-control" type="text" placeholder="ARA..." />
                            </div>
                            <div class="col-sm-4">
                                <span class="FormLabel-b">Kategori</span>
                                <select class="form-select" name="isActive" asp-for="ActiveStatus">
                                    <option value="-1">Hepsi</option>
                                    <option value="0">Silinen</option>
                                    <option value="1">Yayında</option>
                                </select>
                            </div>
                            <div class="col-sm-4">

                                <label class="FormLabel-b">Ana Kategori</label>
                                <select class="form-select" name="ParentId" asp-for="ParentId">
                                    <option value="-1">Hepsi</option>
                                    <option value="4">Karakterler</option>
                                    <option value="5">Lokasyonlar</option>
                                </select>
                                 @*<select class="form-select Select2 w-100" asp-items="@(new SelectList(Model.Parent_DDL, "Id", "Name"))" asp-for="ParentId">
                                </select>*@
                                @*<select class="form-select Select2 w-100" asp-for="SpeciesId">
                                    <option value="0">Hepsi</option>
                                    @foreach (var item in Model.Species_DDL)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>*@
                            </div>

                            <div class="col-sm-4 d-flex align-items-end">
                                <button type="submit" class="btn btn-secondary">Filtreyi Uygula</button>
                            </div>
                            <div class="col-sm-4">
                                <a asp-controller="Character" asp-action="Index" class="F12 text-decoration-underline ms-3">
                                    Filtreleri Temizle
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-2">
                                <select class="form-select form-select-sm F12" name="OrderBy" asp-for="@Model.OrderBy" onchange="this.form.submit()">
                                    <option value="Id ASC">Eklenme Tarihi Artan</option>
                                    <option value="Id Desc">Eklenme Tarihi Azalan</option>
                                    <option value="DBParameterName1 ASC">Karakter Adı Artan</option>
                                    <option value="DBParameterName1 DESC">Karakter Adı Azalan</option>
                                </select>
                            </div>
                            <div class="col text-end Rb">
                                Toplam
                                <span class="text-danger">@Model.MyPagination.TotalRecords</span>
                                Kayıt
                            </div>
                        </div>
                        <div class="card-header">
                            <h4>Karakter Listesi</h4>
                        </div>
                        <div class="table-responsive theme-scrollbar">
                            <table class="table table-lg table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th> @*resim buraya olabilir*@
                                        <th scope="col">Adı</th>
                                        <th scope="col">Sıralama Değeri</th>
                                        <th scope="col">Ana Kategori(ParentId)</th>
                                        <th scope="col">Alt Kategori(DbParameterTypeId)</th>
                                        <th scope="col">Sorumlu Kullanıcı</th>
                                        <th scope="col">Eklenme - Güncellenme Tarihi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.MyGridData)
                                    {
                                        <tr>
                                            <th scope="row">
                                                <div>
                                                    @*<img src="@item.Image" alt="Image" style="width: 100px; height: 100px;" />*@
                                                    <br />
                                                    <small>@item.Id</small>
                                                </div>
                                            </th>
                                            <td>@item.DBParameterName1</td>
                                            <td>@item.SortOrderNo</td>
                                            <td>@item.ParentId</td>
                                            <td>@item.DbParameterTypeId</td>
                                            <td>@item.RMemberId</td>
                                            <td>@item.CreatedDate - @item.UpdatedDate</td>
                                            <td class="text-end">
                                                <a class="btn btn-info" href="/DbParameter/Update?Guid=@item.Guid">Detay</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.MyPagination != null)
            {
                <partial name="~/Views/Shared/Pagination.cshtml" model=@Model.MyPagination />
            }
        </div>
    </form>

</div>

