@using EgeBilgiTaskCase.Client.Models.User;
@model User_Update_ViewModel
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-sm-6">
                    <h3>@Model.PageTitle</h3><br />
                    <h4>@Model.SubPageTitle</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">İçerik</li>
                        <li class="breadcrumb-item">Kullanıcılar</li>
                        <li class="breadcrumb-item">Sistem Kullanıcıları</li>
                        <li class="breadcrumb-item active"> Edit Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="edit-profile">
            <form>
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <div class="card">
                            <div class="card-header pb-0">
                                <h4 class="card-title mb-0">Genel Bilgileri</h4>
                                <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="profile-title">
                                        <div class="d-lg-flex d-block align-items-center">
                                            <img class="img-90 rounded-circle" alt=""
                                                 src="@(string.IsNullOrEmpty(Model.Image) ? Url.Content("~/images/default-user.png") : Model.Image)" />
                                            <div class="flex-grow-1">
                                                <h3 class="mb-1 f-20 txt-primary"> @Model.NameSurname</h3>
                                                <p class="f-12 mb-0">
                                                    Kullanıcı Adı:<b>@Model.UserName</b>
                                                    <br /> Doğum Tarihi: @Model.BirthDate.ToString("MM/dd/yyyy")
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label f-w-500">Email:</label>
                                    <label class="form-label f-w-500"><b>@Model.Email</b></label>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label f-w-500">Cinsiyet</label>
                                    <select class="form-select" asp-for="Gender">
                                        @if (Model.Gender == "M")
                                        {
                                            <option value="M" selected>Erkek</option>
                                            <option value="F">Kadın</option>
                                        }
                                        else
                                        {
                                            <option value="M">Erkek</option>
                                            <option value="F" selected>Kadın</option>
                                        }
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label f-w-500">Kullanıcı Durumu</label>
                                    <select class="form-select" asp-for="StatusId">
                                        @if (Model.StatusId == -1)
                                        {
                                            <option value=-1 selected>Silindi</option>
                                            <option value=10>Aktif</option>
                                        }
                                        else
                                        {
                                            <option value=-1>Silindi</option>
                                            <option value=10 selected>Aktif</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="card">
                            <div class="card-header pb-0">
                                <h4 class="card-title mb-0">Edit Profile</h4>
                                <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label f-w-500">Kullanıcı Adı</label>
                                            <input class="form-control" type="text" asp-for=NameSurname placeholder="@Model.NameSurname">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label f-w-500">Email</label>
                                            <input class="form-control" type="email" asp-for=Email placeholder="@Model.Email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label f-w-500">Telefon Numarası</label>
                                            <input class="form-control" type="text" asp-for=GSM placeholder="@Model.GSM">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label f-w-500">Kişisel Telefon Numarası</label>
                                            <input class="form-control" type="text" asp-for=GSMPersonal placeholder="@Model.GSMPersonal">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label f-w-500">Email Onay</label>
                                            <div>
                                                <input type="radio" id="emailConfirmed" name="emailStatus" value="1"
                                                       @(Model.EmailConfirmed == 1 ? "checked" : "") />
                                                <label for="emailConfirmed">Onaylandı</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="emailNotConfirmed" name="emailStatus" value="0"
                                                       @(Model.EmailConfirmed == 0 ? "checked" : "") />
                                                <label for="emailNotConfirmed">Onaylanmadı</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label f-w-500">Telefon Numarası Onay</label>
                                              <div>
                                                <input type="radio" value="1"
                                                       @(Model.PhoneNumberConfirmed == 1 ? "checked" : "") />
                                                <label for="phoneNumberConfirmed">Onaylandı</label>
                                            </div>
                                            <div>
                                                <input type="radio" value="0"
                                                       @(Model.PhoneNumberConfirmed == 0 ? "checked" : "") />
                                                <label for="phoneNumberConfirmed">Onaylanmadı</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div>
                                            <div class="btn btn-outline-primary ms-2"><i data-feather="upload">   </i>Fotoğraf Yükle  </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <button class="btn btn-primary" type="submit">Güncelle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>